@import './reset.css';
/* = = = = = = = = = = = = = = = */
/* BODY STYLES                   */
/* = = = = = = = = = = = = = = = */
body {
    background-color: #F2F4F9;
}

h1 {
    font-weight: 700;
    color: #FFF;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 1.3rem;
}

h3, a {
    font-weight: 700;
}

p {
    font-size: 1.2rem;
}

small {
    font-size: 0.8rem;
}

input[type=search] {
    display: block;
    width: 100%;
    padding: 12px 12px 12px 40px;
    border-radius: 5px;
    font-size: 1.1rem;
    overflow: hidden;
    background-color: #E9ECEF;
    background: #E9ECEF url('../medias/search.png') no-repeat 12px;
}